*{
    
    background-color: rgb(105, 97, 112);
    position: relative;
}

.animation{
	display: flex;
    position: absolute;
    top: 50px;
    left: 270px;
    
	}
.heading{
    text-align: center;
    font-family: 'Poor Story', cursive;
    font-family: 'Salsa', cursive;
}

.links{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:black;
    font-family: 'Poor Story', cursive;
    font-family: 'Salsa', cursive;

 }

 .mainlink{

    top: 490px;

}

.links p:hover{
    color: red;
    font-size: 35px;
   	cursor: pointer;
}

.links a:active{
    background: rgb(34, 8, 151);
}

	/*assign full width inputs*/
	input[type=text],
	input[type=password] {
		width: 100%;
		padding: 6px 10px;
		margin: 4px 0;
		display: block;
		border: 1px solid #ccc;
        box-sizing: border-box;
        background-color: white;

	}

	/*set a style for the buttons*/
	button {
		background-color: green;
		color: white;
		padding: 7px 10px;
		margin: 4px 0;
		border: none;
		cursor: pointer;
		width: 100%;
	}

	/* set a hover effect for the button*/
	button:hover {
		opacity: 0.8;
		cursor: pointer;

	}

	/*set extra style for the cancel button*/
	.cancelbtn {
		width: auto;
		padding: 5px 9px;
		background-color: white;
	}
	.signupbtn {
		text-align: center;
		width: 100%;
		background-color: green;


	}
	/*centre the display image inside the container*/
	.imgcontainer {
		text-align: center;
		margin: 24px 0 12px 0;
        position: relative;
        background-color: white;
	}
	.imgcontainer p {
		width: auto;
		font-family: 'Poor Story', cursive;
    font-family: 'Salsa', cursive;
    font-size: 20px;
	}
	/*set image properties*/
	img.avatar {
		width: 20%;
        border-radius: 50%;

	}
	.container1 {
		padding: 16px;
		background-color:  white;

	}
	.container1 p:hover {
		cursor: pointer;
	}

	/*set padding to the container*/
	.container {
		padding: 16px;
		background-color:  white;
	}

	/*set the forgot password text*/
	span.psw {
		float: right;
		display: inline-block;

		
	}
	.container1 p{
		width: auto;
		display: inline;
		word-wrap: break-word;
		text-decoration: underline;
		color: blue;
	}

	/*set the Modal background*/
	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		padding-top: 20px;
	}

	/*style the model content box*/
	.modal-content {
		background-color: white;
		margin: 5% auto 15% auto;
		border: 1px solid #888;
		width: 40%;
	}

	/*style the close button*/
	.close {
		position: absolute;
		right: 12px;
		top: 0;
		color: #000;
		font-size: 35px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: red;
		cursor: pointer;
	}
	.clearfix::after {
		content: "";
		clear: both;
		display: table;
		background-color: green;

	}

	/* add zoom animation*/
	.animate {
		-webkit-animation: animatezoom 0.6s;
		animation: animatezoom 0.6s
	}

	@-webkit-keyframes animatezoom {
		from {
			-webkit-transform: scale(0)
		}
		to {
			-webkit-transform: scale(1)
		}
	}

	@keyframes animatezoom {
		from {
			transform: scale(0)
		}
		to {
			transform: scale(1)
		}
	}

	@media screen and (max-width:450px) {
		span.psw {
			display: block;
			float: none;
		}

		.signupbtn {
			width: 100%;
		}
		.cancelbtn {
			width: 100%;
		}
		.animation{
			display: block;
			top: 80px;
			left: 20px;
		}
		.animation svg 
		{	

			width: 280px;
			height: 300px;
		}
		.mainlink{
			top:300px;
		}
	}

	@media screen and (min-width: 450px) and (max-width:600px) {
		span.psw {
			display: block;
			float: none;
		}

		.signupbtn {
			width: 100%;
		}
		.cancelbtn {
			width: 100%;
		}
		.animation{
			display: block;
			top: 80px;
			left: 40px;
		}
		.animation svg 
		{	

			width: 400px;
			height: 300px;
		}
		.mainlink{
			top:300px;
		}
	}
	
	@media screen  and (min-device-width: 600px) and (max-device-width: 950px){
		.animation{
			
			
			left: 60px;
		}
		.animation svg 
		{
			
			width: 600px;
			height: 400px;
		}
		.mainlink{
			top:390px;
		}
	}
	@media screen  and (min-device-width: 950px) and (max-device-width: 1030px){
		.animation{
			
			
			left: 120px;
		}
		.animation svg 
		{
			
			width: 800px;
			height: 400px;
		}
		.mainlink{
			top:390px;
		}
	}



#king{

    animation: king1 1s ease infinite;
}


@keyframes king1{
    from{
       transform: rotateX(0deg);
    }

    to{
        transform: rotateX(40deg);
    }
}

#queen{

    animation: queen1 1s ease infinite;
}


@keyframes queen1{
    from{
       transform: rotateX(0deg);
    }

    to{
        transform: rotateX(40deg);
    }
}