*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.heading{
    text-align: center;
    font-weight: bold;
    font-family: 'Poor Story', cursive;
    font-family: 'Salsa', cursive;
}
/*body{
    text-align: right;
    position: relative;

}*/
/*.animations1 {
    float: right;
}
.animations2{
    position: absolute;
    top: 70px;
    float: left;
}*/

#final_man{

    animation: man 1s ease infinite;

}

@keyframes man{
    from{
       transform: rotateX(0deg);
    }

    to{
        transform: rotateX(40deg);
    }
}

#women3{

    animation: women 1s ease infinite;

}

@keyframes women{
    from{
       transform: rotateX(0deg);
    }

    to{
        transform: rotateX(15deg);
    }
}

#trophy{

    animation: trophy1 1s ease infinite;

}

@keyframes trophy1{
    from{
       transform: rotateY(-20deg);
    }

    to{
        transform: rotateY(20deg);
    }
}
.row {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    
}
.column1 {
    width: 40%;


}
.column2 {
    width: 30%;
    text-align: center;
    }
.column3 {
    width: 30%;
    
    }

.LeaderBoard{
    max-width: 440px;
    border: 1px solid black;
    position: absolute;

   /* top: 100px;
    left: 550px;*/
}


header{

    background-color: rgb(212, 125, 11);
    font-family: 'Carter One', cursive;
    text-align: center;
    font-size: 30px;

}
table{
    background-color: #16181e;
    width: 100%;
}
thead{
    color: white;
    font-family: 'Carter One', cursive;
    font-family: 'Prata', serif;
    font-family: 'Rock Salt', cursive;

}

tbody{
    color: white;
    font-family: 'Carter One', cursive;
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Prata', serif;
    font-family: 'Rock Salt', cursive;
}

tbody tr:nth-child(2n){
    background-color: #1f232c;
}

.username{
    text-align: center;
}

.rank{
    text-align: center;
}

.points{
    text-align: center;
}

td{
    padding: 0.8rem 1rem;

}
th{
    padding: 0.8rem 1rem;
}
.title{
    font-size: 25px;
}


.sub{
    font-size: 20px;
}

 @media screen and (max-width: 375px) {
    .row {
            display: flex;
            padding-top: 0px;
    flex-direction: column; 
}
.column1 {
    width: 100%;
    height: 20%;
    float: left;

}
.column2 {
    width: 100%;
    height: 60%;
    padding-left: 100px;
}
.column3 {
    width: 100%;
    height: 20%;
    float: right;
    padding-top: 170px;
    padding-left: 190px;
}
.animations1 svg{
    width: 120px;
    height: 170px;
}
.animations2 svg{
    width: 140px;
    height: 190px;
}
header{
    font-size: 15px;
    font-weight: bold;
}
 td{
    padding: 0.1rem 0.3rem;

}
th{
    padding: 0.1rem 0.3rem;
}
.Position,.rank{
    font-size: 14px;
}

.Username,.username{
    font-size: 14px;
}

.Points,.points{
    font-size: 14px;
}

}
@media screen and (min-width: 375px) and (max-width: 475px) {
    .row {
            display: flex;
            padding-top: 0px;
    flex-direction: column; 
}
.column1 {
    width: 100%;
    height: 20%;
    float: left;

}
.column2 {
    width: 100%;
    height: 60%;
    padding-left: 120px;
}
.column3 {
    width: 100%;
    height: 20%;
    float: right;
    padding-top: 170px;
    padding-left: 230px;
}
.animations1 svg{
    width: 120px;
    height: 170px;
}
.animations2 svg{
    width: 140px;
    height: 190px;
}
header{
    font-size: 15px;
    font-weight: bold;
}
 td{
    padding: 0.1rem 0.3rem;

}
th{
    padding: 0.1rem 0.3rem;
}
.Position,.rank{
    font-size: 14px;
}

.Username,.username{
    font-size: 14px;
}

.Points,.points{
    font-size: 14px;
}

}

@media screen and (min-width: 475px) and (max-width: 650px) {
    .row {
            display: flex;
            padding-top: 0px;
    flex-direction: column; 
}
.column1 {
    width: 100%;
    height: 20%;
    float: left;

}
.column2 {
    width: 100%;
    height: 60%;
    padding-left: 120px;
}
.column3 {
    width: 100%;
    height: 20%;
    float: right;
    padding-top: 170px;
    padding-left: 350px;
}
.animations1 svg{
    width: 160px;
    height: 170px;
}
.animations2 svg{
    width: 180px;
    height: 190px;
}
header{
    font-size: 15px;
    font-weight: bold;
}
 td{
    padding: 0.3rem 1.2rem;

}
th{
    padding: 0.3rem 1.2rem;
}
.Position,.rank{
    font-size: 14px;
}

.Username,.username{
    font-size: 14px;
}

.Points,.points{
    font-size: 14px;
}

}



@media screen and (min-width: 650px) and (max-width: 800px) {
    .row {
            display: flex;
            padding-top: 20px;
    flex-direction: row; 
}
.column1 {
    width: 30%;
    float: left;

}
.column2 {
    width: 40%;
    text-align: center;
    
}
.column3 {
    width: 30%;

    float: right;
    
}
.animations1 svg{
    width: 250px;
    height: 170px;
}
.animations2 svg{
    width: 240px;
    height: 210px;
}
header{
    font-size: 25px;
    font-weight: bold;
}
 td{
    padding: 0.5rem 1.5rem;

}
th{
    padding: 0.5rem 1.5rem;
}
.Position,.rank{
    font-size: 14px;
}

.Username,.username{
    font-size: 14px;
}

.Points,.points{
    font-size: 14px;
}

}


