body{
	margin: 0;
	padding: 0;
	background-color: lavender
} 

span, p{
	font-family: 'Roboto', sans-serif;

}

#container{
	height: 550px;
	margin-left: 25px;
}

.card_outer{
	height: 160px;
	width: 120px;
	background: transparent;;
	perspective: 1200px;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
}

.card_inner{
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: all 0.75s ease;


}

.front, .back{
	position: absolute;
	height: 100%;
	
	width: 100%;
	background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(40,40,121,1) 35%, rgba(0,212,255,1) 100%);
	backface-visibility: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.back{
	transform: rotateY(180deg);
}

.img{
height: 100%;
width: 100%;
}


:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}



.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding-bottom: 35px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 40px;
  background: #fff;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;

  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#finish {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
